extends layout

block content
    style.
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
        }
        .container {
            background-color: #ffffff;
            border-radius: 16px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            padding: 2rem;
        }
        button {
            background-color: #007bff;
            border: none;
            color: #ffffff;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.2s;
        }
        @media only screen and (max-width: 768px) {
            button {
                padding: 10px 20px;
                font-size: 16px;
            }
        }
        @media only screen and (min-width: 769px) {
            button {
                padding: 14px 40px;
                font-size: 20px;
            }
        }
        button:hover {
            background-color: #0056b3;
        }


    h1.text-center.mb-4 Welcome, #{title}

    div.container
        h2.mb-4 Write Post
        form(action="/catalog/userpost" method="post")
            div.form-group
                label(for="posttitle") Post Title:
                input.form-control#posttitle(type="text" name="posttitle" placeholder="Enter your post title" required)
            div.form-group
                label(for="postmessage") Post Message:
                textarea.form-control#postmessage(name="postmessage" placeholder="Write your post here" required)
            div.form-group
                button(type="submit") Submit Post
